
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(173, 112, 230);
}
#tit{
    
    margin-top: 80px;
    margin-bottom: 20px;
    color: white;
    background-color: rgb(31, 9, 41);
    font-weight: 600;
    font-size: 50px;
    text-align: center;
}
.page{
    background-color: transparent;
    width: 600px;
    height: 500px;
    padding: 30px;
}
.page input{
    width: 500px;
    height: 30px;
    border-radius: 30px;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}
.page select{
    width: 500px;
    height: 45px;
    border-radius: 30px;
    font-size: 20px;
    padding: 10px;
    margin: 10px; 
}
.page h2{
    margin-bottom: 50px;
    font-size: 50px;
    font-weight: 200px;
}
.page button{
    width: 150px;
    margin: 20px;
    height: 40px;
    font-size: 20px;
    border-radius: 30px;
    color: black;
    background-color: rgb(149, 57, 235);
}
.page button:hover{
    color:white;
    background-color: orangered;
}
.page span{
    margin: 30px;
    padding: 10px;
    font-size: 30px;
    font-weight: 100px;
    color: black;
}
.page span a{
    color: rgb(37, 13, 59);
}
@media(max-width:700px){
    #tit h1{
        padding: 200px;
        font-size: 45px;
    }
    .page input{
        width: calc(100% - 20px);
    }
    .page select{
        width: calc(100% - 20px); 
    }
    .page h2{
        font-size: 30px;
    }
}
